h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
  .list {
    list-style-type: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }
  .section{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .page-header-div {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
  }
  .page-nav {
    display: flex;
    align-items: center;

  }

  .logotype {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .logo-second {
    color: #2E2F42;
  }
  .menu{
    display: flex;
    gap: 40px;
  }

  .menu-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio-link{
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404BBF;
  }
  .contact-list{
    display: flex;
    gap: 40px;
  }
  .contact-list-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-link:hover,
  .contact-list-link:focus{
    color: #404BBF;
  }

  .addr {
    font-style: normal;
  }

  .page-header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }


  .hero{
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main-title {
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .order-btn {
    display: block;
    background-color: #4D5AE5;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: #404BBF;
  }
  

    

  .portfolio {
    background-color: #fff;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .portfolio-list{
    display: flex;
    gap: 24px;
  }
  .portfolio-list-item{
    width: calc((100% - 72px) / 4);
  }

  .portfolio-secondary-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-p {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }

  .portfolio-element{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
  }

  .team-main-title {
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team {
    background-color: #F4F4FD;
  }
  .team-list{
    display: flex;
    gap: 24px;
  }

  .team-list-item {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .team-list-item-div{
    padding: 32px 0;
  }
  .team-img {
    background-color: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;

  }

  .team-h {
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }
  .team-p {
    color: #434455;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .team-social-item{
    width: 40px;
    height: 40px;
  }
  .team-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  }
  .team-link:hover,
  .team-link:focus{
    background-color: #404bbf;
  }
  .team-link-svg{
    fill: #f4f4fd;
  }
  
  .our-portfolio {
    background-color: #FFF;
  }
  .our-portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .our-portfolio-list-item-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
  }
  .our-portfolio-img {
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
  }
  .our-portfolio-list-item {
    background-color: #FFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .our-portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .our-portfolio-list-item:hover .portfolio-div-p{
    transform: translateY(0%);
  }

  .our-portfolio-h {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .our-portfolio-p {
    color: #434455;   
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }

  .portfolio-img{
    position: relative;
    overflow: hidden;
  }
  .portfolio-div-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
  }
  
  .page-footer-link {    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
  }
  .page-footer-studio {
    color: #f4f4fd;
  }
  .page-footer-p {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    width: 264px;
  }

  .page-footer-div{
    display: flex;
    align-items: baseline;
  }
  .footer-div{
    margin-right: 120px;
  }
  .footer-social-p{
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

  }
  .footer-social-list{
    display: flex;
    gap: 16px;
  }
  .footer-social-list-item{
    width: 40px;
    height: 40px;
    
  }
  .footer-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  }
  .footer-social-link:hover,
  .footer-social-link:focus{
    background-color: #31d0aa;
  }
  .footer-social-svg{
    fill: #f4f4fd;
  }
  

  .footer-form-p{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer-form{
    display: flex;
    gap: 24px;
  }
.footer-form-div{
  margin-left: 80px;
}
  .footer-form-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-form-input::placeholder{
    color: #ffffff;
  }

  .footer-form-btn{
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
  }

  .form-btn-svg{
    margin-left: 16px;
  }

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .modal-window-exit-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-window-exit-btn:hover,
.modal-window-exit-btn:focus{
  background-color: #404bbf;
  border: none;
}

.exit-btn-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-exit-btn:focus .exit-btn-svg,
.modal-window-exit-btn:hover .exit-btn-svg{
  fill: #ffffff;
}

.modal-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}
.modal-form-label-div{
  margin-bottom: 8px;
}
.modal-form-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input-div{
  position: relative;
}

.modal-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
  border-color: #4D5AE5;
}
.modal-form-input-svg{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-svg{
  fill: #4D5AE5;
}
.modal-form-textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-form-textarea:focus{
  border-color: #4D5AE5;
}
.modal-form-checkbox-ladel-label{
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;;
}

.modal-form-checkbox-ladel-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  fill: transparent;
}
.modal-form-checkbox-ladel{
  margin-bottom: 24px;
}
.modal-form-checkbox:checked + 
.modal-form-checkbox-ladel-label
.modal-form-checkbox-ladel-span{
  background-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}
.modal-form-checkbox-ladel-label-a{
  color: #4d5ae5;

}
.modal-form-btn{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.modal-form-label-div-fourth{
  margin-bottom: 16px;
}